.root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --second-title-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  font-family: "roboto", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/*-----------header----------*/
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
}
.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
/*-------------hero-------------------*/
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36x;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}
/*------------------advantage--------------------*/
.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--accent-color);
}
